.badge {
  margin-bottom: 8px;
  font-weight: 500;
  color: var(--green);
  text-transform: uppercase;

  @media (width >= 576px) {
    font-size: 14px;
  }

  @media (width <= 575.98px) {
    font-size: 12px;
  }
}
